body{
    margin: 0 !important;
    height: 100%;
}

.ATF{
    
    height: 100vh;
    width: 100%;
    overflow: hidden;
    text-align: center;

}

.MID{
    height: 100vh;
    width: 100%;
    background-color: #43b988 !important;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.content-super{
    position: relative;
    height: 100%;
    max-width: 1050px;
    margin: auto;
}

.content-row{
    position: absolute;
    bottom: 0;
    top: -17%;
    margin: auto;
    display: table;
}



.BTF{
    background-color: white;
    height: 100vh;
    width: 100%;
    position: relative;
}

.contain{
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
    display: table;
    text-align: center;
}

.construction{
    font-size: 1px;
    margin: 0 auto;
    margin-top: 40px;
    display: inline-block;
}

 .text1 {
    font-family: "Bebas Neue", Arial; 
    font-size: 60px; 
    color: #43b988;
    padding-top: 20px;
}

 .text2 {
    font-family: "Bebas Neue", Arial; 
    font-size: 30px; 
    color: #43b988;
    padding-top: 20px;
}

.title{
    font-family: "Bebas Neue", Arial; 
    font-size: 60px; 
    color: #343f44;  
}

.title2{
    font-family: "Bebas Neue", Arial; 
    font-size: 70px; 
    color: #dedede;  
    text-align: center;
    margin-top: 40px;
}

.text-content{
    font-family: "Bebas Neue", Arial; 
    font-size: 20px; 
    color: #343f44;
    padding: 0 20px 20px 20px;
}

.main-icon{
 height: 80px;
}


.footer{
    bottom: 0;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
}

.footer-icon{
    width: 40px;
    display: inline-block;
    cursor: pointer;

}

.col-main{
    padding: 6% 17% 0% 17%;
        font-family: "Bebas Neue", Arial; 
    font-size: 20px; 
 
}

